<div class="row"><h1>Modifica dati strumento</h1></div>

<%= render 'form' %>
<div class="row">
<%= link_to 'Torna ai dettagli', @tool, :class=>"button" %> |
<%= link_to 'Torna alla lista strumenti', tools_path, :class=>"button" %>
</div>