   <div class="row">
      <div class="small-6 columns">
          <h1>Modifica Articolo</h1>
          </div>
          </div>

<%= render 'form' %>
  <div class="row">
<%= link_to 'Torna all\'articolo', @article, :class=>"button" %> |
<%= link_to 'Lista Articoli', articles_path, :class=>'button' %>
</div>
