<div class="row"><h1>Modifica Processo</h1></div>
<%= render 'form' %>

<div class="row">
<%= link_to 'Mostra processo', @metalwork, :class=>"button" %> |
<%= link_to 'Torna a elenco processi', metalworks_path, :class=>"button" %>
</div>