// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.good
{
    color: blue !important;
}

.bad
{
    color: salmon !important;
}

.jobs
{
    background-color: gainsboro;
    color: charcoal;
    height: 16px !important;
    font-size: 75%;
}