<div class="row">
<h1>Modifica Macchinario</h1>
</div>
<%= render 'form' %>
<div class="row">

<%= link_to 'Show', @machine, :class=>"button" %> |
<%= link_to 'Back', machines_path, :class=>"button" %>
</div>